body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  width: 100%; 
  height: 100%; 
  margin: 0; 
  padding: 0;   
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
  max-width: 100%; 
  min-height: 100vh; 
  padding: 0rem 2rem;
  background-color: #282c34;
  /* min-height: 100vh; */
  font-size: calc(10px + 2vmin);
  color: white;
}

/* NavBar  */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center; 
  align-items: center;
  position: sticky; 
  width: 100%; 
  /* margin: 1rem 0rem; */
  margin: 30px 48px 20px 48px; 
}

.navbar-left {
  display: flex; 
  flex-direction: row; 
  float: left; 
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right; 
}

.navbar-link {
  text-decoration: none;
  display: flex; 
  flex-direction: row;
  color: white; 
  vertical-align: center; 
  align-items: center; 
  justify-content: center; 
}

.navbar-link:visited {
  color: white; 
}

.app-photo {
  margin-right: 20px; 
  width: 50px; 
  height: 50px; 
  border-radius: 50px; 
  vertical-align: center; 
}

.app-name {
  margin: 0px; 
  vertical-align: center; 
  font-size: 30px; 
}

.nav-logo {
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
  margin-left: 1rem;
  color: whitesmoke;
}

.navbar-icons {
  display: flex;
  flex-direction: row;  
  align-items: right;
}

.navbar-icon {
  color: white;
  font-size: 2rem; 
  margin: 0 0.5rem;
  transition: transform 450ms;
}

.navbar-icon:hover {
  color: #bbb;
  margin-right: 20px; 
  transform: scale(1.08)
}

.navbar-icon-link {
  display: flex; 
  margin: 0 !important; 
  padding: 0 !important; 
}

/* Main */
.main-container {
  width: 100%; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-top {
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.statement {
  margin: 10px 0px; 
  font-size: 16px; 
}

/* Date  */

.date-container {
  max-width: 100%; 
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center; 
  vertical-align: center; 
}

.date-form {
  max-width: 100% !important; 
  width: 450px; 
}

.date-section {
  /* max-width: 100% !important;  */
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  background-color: white; 
  padding: 5px; 
  border-radius: 20px; 
}

.Calendar {
  max-width: 100%;
}

.DatePicker {
  width: 100%;
}

.DatePicker input {
  width: 80%;
  height: auto; 
  border-radius: 10px; 
  font-size: 18px; 
  border: none;
  align-items: center; 
}

.submit-btn {
  font-size: 18px; 
  /* font-weight: 800; */
  color: black; 
  background-color: white;
  border-radius: 50px; 
  /* margin-left: 10px;  */
  border: none;
  padding: 0.6rem; 
  display: flex; 
  align-items: center; 
  vertical-align: center; 
}

.submit-btn:hover {
  cursor: pointer; 
  color: black; 
  font-weight: 600; 
  /* background-color: white; */
  background-color: #ddd;
}

.delete-btn {
  font-size: 18px; 
  /* font-weight: 800; */
  color: black; 
  background-color: white;
  border-radius: 50px; 
  /* margin-left: 10px;  */
  border: none;
  margin: 0.1rem 0rem 0rem 0.6rem;
  padding: 0.6rem; 
  display: flex; 
  align-items: center; 
  vertical-align: center; 
}

.delete-btn:hover {
  cursor: pointer; 
  color: black; 
  font-weight: 600; 
  /* background-color: white; */
  background-color: #ddd;
}

/* Photo  */

.photo-container {
  margin: 0rem 2rem; 
}

.photo-info {
  display: flex; 
  flex-direction: column; 
}

.photo-info img {
  margin-top: 20px; 
  max-width: 100%; 
  height: auto; 
}

.photo-info p {
  font-size: 20px; 
}

.footer {
  font-size: 16px; 
  margin: 50px 0px; 
}

@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 8px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 7px !important;
  }
}

@media (max-width: 768px) {
  .date-form {
    width: 100%; 
  }

  .navbar-icon {
    margin: 0 0.2rem;
  }
  .responsive-calendar {
    font-size: 6px !important;
  }
}
