.App {
  display: flex;
  flex-direction: column;
  width: 100%; 
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App */

.app-top {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
}
.app-top p {
  margin: 0px; 
  font-size: 18px; 
}

/* NavBar  */

.navbar {
  display: flex;
  /* padding: 0.5rem; */
  justify-content: space-between;
  width: 100%; 
  margin: 0.5rem 0rem;
  padding: 1.2rem 2.4rem; 
  vertical-align: center; 
}
.navbar-left {
  display: flex; 
  flex-direction: row; 
  padding: 0rem 5rem; 
  vertical-align: center; 
  align-items: center; 
    justify-content: center; 
  flex: 0.3; 
}
.navbar-center {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  vertical-align: center; 
  align-items: center; 
  flex: 0.4; 
}
.navbar-right {
  display: flex;
  flex-direction: row;
  color: #bbb;
  /* margin: 0.5rem 1rem 0 0; */
  padding: 0rem 5rem; 
  vertical-align: center; 
  align-items: center;
  justify-content: center;
  float: right; 
  flex: 0.3;
}
.app-photo {
  margin-right: 20px; 
  width: 50px; 
  height: 50px; 
  border-radius: 50px; 
  vertical-align: center; 
}
.app-name {
  margin: 0px; 
  vertical-align: center; 
  font-size: 30px; 
}
.nav-logo {
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
  margin-left: 1rem;
  color: whitesmoke;
}
.navbar-icons {
  display: flex;
  flex-direction: row;  
  float: right; 
}
.navbar-icon {
  color: white;
  font-size: 2rem; 
  margin-right: 20px; 
  transition: transform 450ms;
}
.navbar-icon:hover {
  color: #bbb;
  margin-right: 20px; 
  transform: scale(1.08)
}

/* .social {
  display: flex;
  padding: 0.7rem 0 0 0.5rem;
  font-size: 2.2vh;
  color: #bbb;
}
.social:hover {
  color: whitesmoke;
} */



/* Calendar */

.date {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  /* margin: 1rem; */
  /* margin: 0.2rem 0.5rem; */
  margin: 0rem 0.5rem;
  padding: 0.2rem; 
  align-items: center; 
  vertical-align: center; 
}

.date-form {
  background-color: white; 
  border-radius: 20px; 
}

.DatePicker input {
  height: 25px; 
  width: 350px; 
  border-radius: 10px; 
  font-size: 18px; 
  border: none;
  align-items: center; 
}
/* .submit-btn {
  border-radius: 50px; 
  border: none; 
  background-color: transparent;
} */
.submit-btn {
  font-size: 18px; 
  /* font-weight: 800; */
  color: black; 
  background-color: white;
  border-radius: 50px; 
  /* margin-left: 10px;  */
  border-style: none;
  margin: 0.1rem 0rem 0rem 0.6rem;
  padding: 0.6rem; 
  display: flex; 
  align-items: center; 
  vertical-align: center; 
}
.submit-btn:hover {
  cursor: pointer; 
  color: black; 
  font-weight: 600; 
  /* background-color: white; */
  background-color: #ddd;
}

@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 8px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 7px !important;
  }
}

@media (max-width: 768px) {
  .responsive-calendar {
    font-size: 6px !important;
  }
}
